﻿@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Users> signInManager;
@{
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
}

<ul class="navbar-nav ms-auto align-items-center">
    @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn-logout">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="btn-login" asp-controller="Account" asp-action="Login">
                Login
            </a>
        </li>
        <li class="nav-item">
            <a class="btn-register" asp-controller="Account" asp-action="Register">
                Register
            </a>
        </li>
    }
</ul>
